html {
  font-family: 'Open Sans Condensed', sans-serif;
  background: url(http://imgur.com/we8RF7u.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:100%;
}

.container{
	width:600px;
	height:300px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-150px 0 0 -300px;
  font-size: 30px;
  text-align: center;
  color: #fff;
  text-shadow: 4px 4px 15px rgba(80, 80, 80, 1);
}
h1{
  letter-spacing: 10px;
  font-weight: normal;
  font-size: 400%;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}